---
import { Icon } from 'astro-icon';
---

<header class='flex border-2 mt-10 font-dosis text-2xl font-light flex-row'>
  <div class='flex w-full'>
    <a href='/' class='flex'>
      <span class='items-center p-4 hover:underline'> 0xCCY</span>
    </a>
  </div>
  <div class='self-center md:flex hidden'>
    <a
      href='/blog'
      class='border-l-2 items-center p-4 flex hover:bg-purple-600'>
      <Icon name='bi:keyboard' class='w-8 h-8 mr-2' />
      Blog
    </a>
    <a
      href='https://www.twitter.com/0xCCY'
      class='border-l-2 items-center p-4 flex hover:bg-purple-600'>
      <Icon name='bi:twitter' class='w-7 h-7 mr-2' />
      Twitter
    </a>
    <a
      href='https://github.com/0xccy'
      class='border-l-2 items-center p-4 flex hover:bg-purple-600'>
      <Icon name='fontisto:github' class='w-7 h-7 mr-2' />
      GitHub
    </a>
  </div>
</header>
